/*---Colors---*/

$primary-dark: #100e1d;
$primary-light: #1e213a;
$text-color: #e7e7eb;
$text-gray: #88869d;
$text-light-gray: #a09fb1;
$button-primary: #6e707a;
$button-second: #3c47e9;
$border-primary: #616475;
$yellow-clr: #ffec65;
